# Load Data

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import rcParams
import warnings

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#Import data
df_1 = pd.read_csv('/content/drive/MyDrive/DATA SCIENTIST/Week 12/employee_survey_data.csv')
df_2 = pd.read_csv('/content/drive/MyDrive/DATA SCIENTIST/Week 12/general_data.csv')
df_3 = pd.read_csv('/content/drive/MyDrive/DATA SCIENTIST/Week 12/manager_survey_data.csv')
df_4 = pd.read_csv('/content/drive/MyDrive/DATA SCIENTIST/Week 12/in_time.csv')
df_5 = pd.read_csv('/content/drive/MyDrive/DATA SCIENTIST/Week 12/out_time.csv')

In [ ]:
rcParams['figure.figsize'] = (10,7)
rcParams['lines.linewidth'] = 2.5
rcParams['xtick.labelsize'] = 'x-large'
rcParams['ytick.labelsize'] = 'x-large'

In [ ]:
#Menggabungkan df_1, df_2, dan df_3
df_merge = pd.merge(df_1, df_2, on = 'EmployeeID')
df_merge = pd.merge(df_merge, df_3, on = 'EmployeeID')
df_merge.sample(10)

,EmployeeID,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,...,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,JobInvolvement,PerformanceRating
540,541,1.0,2.0,3.0,33,Yes,Travel_Rarely,Research & Development,8,2,...,13,8,0,5.0,2,2,2,2,3,3
2884,2885,4.0,3.0,4.0,34,No,Travel_Frequently,Research & Development,7,2,...,23,8,0,5.0,2,5,2,0,3,4
506,507,4.0,2.0,3.0,28,No,Travel_Rarely,Research & Development,10,3,...,15,8,0,1.0,1,1,0,0,4,3
2723,2724,4.0,1.0,3.0,27,No,Travel_Rarely,Sales,8,2,...,15,8,1,1.0,3,1,0,0,2,3
2604,2605,3.0,4.0,3.0,35,No,Travel_Rarely,Research & Development,5,3,...,18,8,1,10.0,1,10,0,9,1,3
206,207,2.0,4.0,4.0,37,No,Travel_Rarely,Research & Development,8,1,...,16,8,1,12.0,5,6,1,2,3,3
2944,2945,4.0,1.0,3.0,32,No,Travel_Rarely,Research & Development,10,1,...,12,8,2,9.0,2,6,0,4,3,3
3668,3669,1.0,4.0,4.0,39,No,Travel_Rarely,Research & Development,17,4,...,11,8,1,8.0,3,5,1,4,3,3
2146,2147,4.0,2.0,2.0,25,No,Travel_Rarely,Research & Development,18,2,...,25,8,0,2.0,0,2,2,1,3,4
3703,3704,1.0,1.0,3.0,25,Yes,Travel_Rarely,Sales,16,4,...,19,8,0,6.0,3,3,2,2,2,3

In [ ]:
df_merge.columns

Index(['EmployeeID', 'EnvironmentSatisfaction', 'JobSatisfaction',
       'WorkLifeBalance', 'Age', 'Attrition', 'BusinessTravel', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'Gender', 'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager',
       'JobInvolvement', 'PerformanceRating'],
      dtype='object')

# Missing Values

In [ ]:
df_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 29 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   EmployeeID               4410 non-null   int64
 1   EnvironmentSatisfaction  4385 non-null   float64
 2   JobSatisfaction          4390 non-null   float64
 3   WorkLifeBalance          4372 non-null   float64
 4   Age                      4410 non-null   int64
 5   Attrition                4410 non-null   object
 6   BusinessTravel           4410 non-null   object
 7   Department               4410 non-null   object
 8   DistanceFromHome         4410 non-null   int64
 9   Education                4410 non-null   int64
 10  EducationField           4410 non-null   object
 11  EmployeeCount            4410 non-null   int64
 12  Gender                   4410 non-null   object
 13  JobLevel                 4410 non-null   int64
 14  JobRole                  4410 non-null   object
 15  MaritalStatus            4410 non-null   object
 16  MonthlyIncome            4410 non-null   int64
 17  NumCompaniesWorked       4391 non-null   float64
 18  Over18                   4410 non-null   object
 19  PercentSalaryHike        4410 non-null   int64
 20  StandardHours            4410 non-null   int64
 21  StockOptionLevel         4410 non-null   int64
 22  TotalWorkingYears        4401 non-null   float64
 23  TrainingTimesLastYear    4410 non-null   int64
 24  YearsAtCompany           4410 non-null   int64
 25  YearsSinceLastPromotion  4410 non-null   int64
 26  YearsWithCurrManager     4410 non-null   int64
 27  JobInvolvement           4410 non-null   int64
 28  PerformanceRating        4410 non-null   int64
dtypes: float64(5), int64(16), object(8)
memory usage: 999.3+ KB

In [ ]:
df_merge.isna().sum()

EmployeeID                  0
EnvironmentSatisfaction    25
JobSatisfaction            20
WorkLifeBalance            38
Age                         0
Attrition                   0
BusinessTravel              0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
Gender                      0
JobLevel                    0
JobRole                     0
MaritalStatus               0
MonthlyIncome               0
NumCompaniesWorked         19
Over18                      0
PercentSalaryHike           0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           9
TrainingTimesLastYear       0
YearsAtCompany              0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
JobInvolvement              0
PerformanceRating           0
dtype: int64

Terdapat beberapa kolom yang memiliki nilai kosong.

- EnvironmentSatisfaction: 25 nilai kosong
- JobSatisfaction: 20 nilai kosong
- WorkLifeBalance: 38 nilai kosong
- NumCompaniesWorked: 19 nilai kosong
- TotalWorkingYears: 9 nilai kosong

Nilai yang kosong dari EnvironmentSatisfaction, JobSatisfaction, dan WorkLifeBalance diisi dengan modus dari kolom tersebut karena cocok untuk kolom kategorik ordinal yang mewakili sebagian besar data. Sedangkan nilai yang kosong dari NumCompaniesWorked dan TotalWorkingYears diisi dengan mediannya karena lebih robust terhadap outliers.

In [ ]:
df_merge['EnvironmentSatisfaction'] = df_merge['EnvironmentSatisfaction'].fillna(df_merge['EnvironmentSatisfaction'].mode()[0])
df_merge['JobSatisfaction'] = df_merge['JobSatisfaction'].fillna(df_merge['JobSatisfaction'].mode()[0])
df_merge['WorkLifeBalance'] = df_merge['WorkLifeBalance'].fillna(df_merge['WorkLifeBalance'].mode()[0])
df_merge['NumCompaniesWorked'] = df_merge['NumCompaniesWorked'].fillna(df_merge['NumCompaniesWorked'].median())
df_merge['TotalWorkingYears'] = df_merge['TotalWorkingYears'].fillna(df_merge['TotalWorkingYears'].median())

In [ ]:
df_merge.isna().sum()

EmployeeID                 0
EnvironmentSatisfaction    0
JobSatisfaction            0
WorkLifeBalance            0
Age                        0
Attrition                  0
BusinessTravel             0
Department                 0
DistanceFromHome           0
Education                  0
EducationField             0
EmployeeCount              0
Gender                     0
JobLevel                   0
JobRole                    0
MaritalStatus              0
MonthlyIncome              0
NumCompaniesWorked         0
Over18                     0
PercentSalaryHike          0
StandardHours              0
StockOptionLevel           0
TotalWorkingYears          0
TrainingTimesLastYear      0
YearsAtCompany             0
YearsSinceLastPromotion    0
YearsWithCurrManager       0
JobInvolvement             0
PerformanceRating          0
dtype: int64

# Duplicated Data

In [ ]:
df_merge.duplicated().any()

False

In [ ]:
print('Jumlah data duplikat:', df_merge.duplicated().sum())

Jumlah data duplikat: 0

# Outliers

Outliers tidak di-handle karena akan fokus menggunakan model yang robust terhadap outliers.

# Feature Encoding

In [ ]:
#Memisahkan features kategorik, numerik dan target
numericals = ['Age', 'DistanceFromHome', 'EmployeeCount', 'MonthlyIncome', 'NumCompaniesWorked', 'PercentSalaryHike', 'StandardHours', 'TotalWorkingYears', 'TrainingTimesLastYear', 'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager']
categoricals = ['EnvironmentSatisfaction', 'JobSatisfaction', 'WorkLifeBalance', 'BusinessTravel', 'Department', 'Education', 'EducationField', 'Gender', 'JobLevel', 'JobRole', 'MaritalStatus', 'Over18', 'StockOptionLevel', 'JobInvolvement', 'PerformanceRating']
target = ['Attrition']

In [ ]:
#Mengubah tipe data menjadi kategorikal untuk 'EnvironmentSatisfaction', 'JobSatisfaction', 'WorkLifeBalance', 'Education', 'JobLevel', 'StockOptionLevel', 'JobInvolvement' dan 'PerformanceRating'
columns1 = ['EnvironmentSatisfaction', 'JobSatisfaction', 'WorkLifeBalance', 'Education', 'JobLevel', 'StockOptionLevel', 'JobInvolvement', 'PerformanceRating']

#1. Mengubah tipe data menjadi kategorikal untuk data_train
for col in columns1:
  df_merge[col] = df_merge[col].astype('category')

In [ ]:
from sklearn.preprocessing import LabelEncoder

#Kolom kategorikal yang akan di OneHot Encoding dan Label Encoding
columns_onehot = ['BusinessTravel', 'Department', 'EducationField', 'JobRole', 'MaritalStatus', 'Over18']
columns_label = ['Gender', 'Attrition']

for col in columns_onehot:
  df_onehot = pd.get_dummies(df_merge[col], prefix = col)
  df_onehot = df_onehot.astype(int)
  df_merge = pd.concat([df_merge, df_onehot], axis = 1)
  df_merge.drop(columns = col, inplace = True)

for col in columns_label:
  le = LabelEncoder()
  df_merge[col] = le.fit_transform(df_merge[col])

In [ ]:
columns_to_drop = ['EmployeeID', 'EmployeeCount', 'StandardHours', 'Over18_Y']

#Menghapus kolom dari data
df_merge = df_merge.drop(columns = columns_to_drop, axis = 1)

# Feature Transformation

Sebelum feature transformation, terlebih dahulu dilakukan split antara data test dan data train. Fit scaling dengan standard scaler hanya dilakukan pada data train, kemudian transformasi data test menggunakan parameter scaling yang telah dipelajari dari data train.

In [ ]:
#Split data train dan test
X = df_merge.drop(columns = ['Attrition'])
y = df_merge['Attrition']

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 42)

In [ ]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()

numerical_features = ['Age', 'DistanceFromHome', 'MonthlyIncome', 'NumCompaniesWorked',
                      'PercentSalaryHike', 'TotalWorkingYears', 'TrainingTimesLastYear',
                      'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager']

for n in numerical_features:
  scaler = ss.fit(X_train[[n]])
  X_train[n] = scaler.transform(X_train[[n]])
  X_test[n] = scaler.transform(X_test[[n]])

# Class Imbalance

In [ ]:
print(pd.Series(y_train).value_counts())

Attrition
0    2584
1     503
Name: count, dtype: int64

Terjadi class imbalance dengan rasio dari kelas Yes terhadap kelas No adalah sekitar 19.45%.
Untuk mencegah kebocoran data (data leakage), akan dilakukan SMOTE terhadap data train saja, tidak pada data test.

In [ ]:
from imblearn.over_sampling import SMOTE

smote = SMOTE(random_state = 42)
X_train_resampled, y_train_resampled = smote.fit_resample(X_train, y_train)

print('Ukuran data sebelum SMOTE:', f'X_train: {X_train.shape}, y_train: {y_train.shape}')
print('Ukuran data setelah SMOTE:', f'X_train_resampled: {X_train_resampled.shape}, y_train_resampled: {y_train_resampled.shape}')

Ukuran data sebelum SMOTE: X_train: (3087, 43), y_train: (3087,)
Ukuran data setelah SMOTE: X_train_resampled: (5168, 43), y_train_resampled: (5168,)

In [ ]:
#Melihat jumlah kelas setelah di-SMOTE
print(pd.Series(y_train_resampled).value_counts())

Attrition
0    2584
1    2584
Name: count, dtype: int64

# Feature Selection

- Kolom EmployeeID di-drop karena hanya sebagai identify
- Kolom EmployeeCount, StandardHours dan Over18 dapat di-drop karena tidak memiliki variabilitas

(semuanya sudah dilakukan sebelum feature transformation)

# Feature Extraction

Beberapa feature baru yang dibangun dari feature yang sudah ada:
- PromotionGap (YearsAtCompany - YearsSinceLastPromotion): feature ini jika nilainya besar bisa menunjukkan karyawan tersebut sudah lama tidak dipromosikan dan mungkin merasa kurang dihargai, yang bisa memengaruhi tingkat kepuasan atau kemungkinan mereka keluar dari perusahaan.
- AverageYearsPerCompany: feature ini bisa memberikan wawasan tambahan tentang stabilitas pekerjaan karyawan. Jika karyawan sering berpindah perusahaan dalam waktu yang singkat, ini mungkin mengindikasikan ketidakpuasan dengan pekerjaan mereka atau pencarian untuk peluang yang lebih baik.

In [ ]:
#Membuat feature 'PromotionGap' di X_train_resampled dan data_test
X_train_resampled['PromotionGap'] = X_train_resampled['YearsAtCompany'] - X_train_resampled['YearsSinceLastPromotion']
X_test['PromotionGap'] = X_test['YearsAtCompany'] - X_test['YearsSinceLastPromotion']

#Membuat feature 'AverageYearsPerCompany' di X_train_resampled dan data_test
X_train_resampled['AverageYearsPerCompany'] = X_train_resampled['TotalWorkingYears'] / (X_train_resampled['NumCompaniesWorked'].replace(0, 1))
X_test['AverageYearsPerCompany'] = X_test['TotalWorkingYears'] / (X_test['NumCompaniesWorked'].replace(0, 1))

In [ ]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()

numerical_features = ['PromotionGap', 'AverageYearsPerCompany']

for n in numerical_features:
  scaler = ss.fit(X_train_resampled[[n]])
  X_train_resampled[n] = scaler.transform(X_train_resampled[[n]])
  X_test[n] = scaler.transform(X_test[[n]])

Beberapa feature tambahan yang mungkin akan sangat membantu membuat performansi model semakin bagus:
- JobFitIndicator: perbandingan antara level pekerjaan dengan jumlah pengalaman kerja yang dimiliki. Feature ini menggambarkan kesesuaian antara posisi yang dijabat karyawan dengan keterampilan dan latar belakang mereka. Jika seseorang memiliki banyak pengalaman tapi berada di level pekerjaan yang lebih rendah, mereka mungkin merasa kurang dihargai atau tidak sesuai dengan potensi mereka, yang bisa mendorong attrition.
- Annual_Leave: berapa kali cuti yang diambil karyawan selama setahun. Feature ini bisa memberikan gambaran bahwa karyawan yang merasa nyaman untuk mengambil cuti  tahunan atau merasa perusahaan mendukung work-life balance dan kehidupan pribadi mereka, kemungkinan lebih puas dan lebih sedikit berisiko untuk meninggalkan perusahaan.
- Vacation_Leave: berapa kali karyawan mengambil cuti liburan selama setahun. Feature ini bisa memberikan gambaran bahwa karyawan yang merasa nyaman untuk mengambil cuti liburan atau merasa perusahaan mendukung work-life balance dan kehidupan pribadi mereka, kemungkinan lebih puas dan lebih sedikit berisiko untuk meninggalkan perusahaan.
- Liabilities: Jumlah tanggungan yang perlu dibayar karyawan per bulan seperti hutang atau cicilan. Karyawan dengan kewajiban finansial yang besar mungkin lebih cenderung berpindah ke perusahaan lain yang menawarkan gaji lebih tinggi, tunjangan yang lebih baik, atau lebih banyak peluang untuk memperoleh bonus.